In [1]:
import pandas as pd

### data_attracton : 관광명소 검색량

In [8]:
df_attract = pd.read_csv('../data/data_attraction.csv')
df_attract.head()

,_id,rank,attraction_name,address,classification,attraction_search,region,std_year
0,65e91282bb908e26c8038353,1,속초관광수산시장,강원 속초시 중앙로147번길 16-0,시장,644655,강원,2020
1,65e91282bb908e26c8038354,2,속초해변,강원 속초시 해오름로 186-0,자연경관(하천/해양),276727,강원,2020
2,65e91282bb908e26c8038355,3,경포해변,강원 강릉시,자연경관(하천/해양),263395,강원,2020
3,65e91282bb908e26c8038356,4,주문진항,강원 강릉시 해안로 1758-14,자연경관(하천/해양),215243,강원,2020
4,65e91282bb908e26c8038357,5,쏠비치삼척,강원 삼척시 수로부인길 453-0,콘도미니엄,204957,강원,2020

In [9]:
df_attract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13600 entries, 0 to 13599
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                13600 non-null  object
 1   rank               13600 non-null  int64
 2   attraction_name    13600 non-null  object
 3   address            13600 non-null  object
 4   classification     13600 non-null  object
 5   attraction_search  13600 non-null  int64
 6   region             13600 non-null  object
 7   std_year           13600 non-null  int64
dtypes: int64(3), object(5)
memory usage: 850.1+ KB

In [12]:
df_attract['region'].unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [13]:
df_attract['std_year'].unique()

array([2020, 2021, 2022, 2023])

In [15]:
df_attract['attraction_name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13600 entries, 0 to 13599
Series name: attraction_name
Non-Null Count  Dtype
--------------  -----
13600 non-null  object
dtypes: object(1)
memory usage: 106.4+ KB

### data_consume : 분야별 소비량

In [17]:
df_consume = pd.read_csv('../data/data_consume.csv')
df_consume.head()

,_id,std_year,region,consumption_amount,industry_major_cate,industry_middle_cate
0,65e912c3bb908e26c803dea3,2020,강원,2.870202e+06,쇼핑업,관광기념품
1,65e912c3bb908e26c803dea4,2020,강원,8.180715e+07,쇼핑업,레저용품쇼핑
2,65e912c3bb908e26c803dea5,2020,강원,8.001180e+07,쇼핑업,대형쇼핑몰
3,65e912c3bb908e26c803dea6,2020,강원,6.250369e+04,쇼핑업,면세점
4,65e912c3bb908e26c803dea7,2020,강원,2.938260e+07,숙박업,호텔

In [18]:
df_consume.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   1177 non-null   object
 1   std_year              1177 non-null   int64
 2   region                1177 non-null   object
 3   consumption_amount    1177 non-null   float64
 4   industry_major_cate   1177 non-null   object
 5   industry_middle_cate  1177 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 55.3+ KB

In [19]:
df_consume['industry_major_cate'].unique()

array(['쇼핑업', '숙박업', '식음료업', '여가서비스업', '여행업', '운송업'], dtype=object)

In [20]:
df_consume['industry_middle_cate'].unique()

array(['관광기념품', '레저용품쇼핑', '대형쇼핑몰', '면세점', '호텔', '콘도', '캠핑장/펜션', '기타숙박',
       '식음료', '관광유원시설', '골프장', '기타레저', '문화서비스', '스키장', '여행업', '수상운송',
       '렌터카', '육상운송', '항공운송', '카지노'], dtype=object)

### data_consume_transition : 소비 유형에 따른 월별 소비량

In [22]:
df_consume_trans = pd.read_csv('../data/data_consume_transition.csv')
df_consume_trans.head()

,_id,industry_major_cate,std_year_month,std_year,std_month,consumption_amount,region
0,65e932a1bb908e26c804492e,전체,202012,2020,12,59888524,강원
1,65e932a1bb908e26c804492f,전체,202001,2020,1,98147222,강원
2,65e932a1bb908e26c8044930,전체,202002,2020,2,69547139,강원
3,65e932a1bb908e26c8044931,전체,202003,2020,3,62071229,강원
4,65e932a1bb908e26c8044932,전체,202004,2020,4,75022238,강원

In [23]:
df_consume_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5693 entries, 0 to 5692
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5693 non-null   object
 1   industry_major_cate  5693 non-null   object
 2   std_year_month       5693 non-null   int64
 3   std_year             5693 non-null   int64
 4   std_month            5693 non-null   int64
 5   consumption_amount   5693 non-null   int64
 6   region               5693 non-null   object
dtypes: int64(4), object(3)
memory usage: 311.5+ KB

In [24]:
df_consume_trans['industry_major_cate'].unique()

array(['전체', '운송업', '여행업', '숙박업', '식음료업', '여가서비스업', '쇼핑업'], dtype=object)

### data_trend_search : 월별 여행 트랜드 검색량

In [25]:
df_trend = pd.read_csv('../data/data_trend_search.csv')
df_trend.head()

,_id,region,std_year_month,std_year,std_month,tour_trend,num_mention
0,65e92ddfbb908e26c804393d,강원,202007,2020,7,레포츠,58868
1,65e92ddfbb908e26c804393e,강원,202008,2020,8,레포츠,53624
2,65e92ddfbb908e26c804393f,강원,202006,2020,6,레포츠,49214
3,65e92ddfbb908e26c8043940,강원,202010,2020,10,레포츠,47223
4,65e92ddfbb908e26c8043941,강원,202007,2020,7,휴식/힐링,40740

In [26]:
df_trend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4080 entries, 0 to 4079
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             4080 non-null   object
 1   region          4080 non-null   object
 2   std_year_month  4080 non-null   int64
 3   std_year        4080 non-null   int64
 4   std_month       4080 non-null   int64
 5   tour_trend      4080 non-null   object
 6   num_mention     4080 non-null   int64
dtypes: int64(4), object(3)
memory usage: 223.3+ KB

In [27]:
df_trend['tour_trend'].unique()

array(['레포츠', '휴식/힐링', '기타', '미식', '체험'], dtype=object)

### data_tour_NLP_train : 네이버 블로그 제목

In [28]:
df_NLP = pd.read_csv('../data/data_tour_NLP_train.csv')
df_NLP.head()

,_id,concept,season,review_text,지역,review_text_clean
0,65ee6316a64dee66ed301e2a,0,0,[블로그 울산 남구 아이스팩 전용 수거함 어디에 있을까?,울산,아이스팩 전용 수거
1,65ee670ba64dee66ed303175,5,3,[가을여행] 전주 당일치기 여행 BEST10 (feat. 덕진공원팸투어) /가을 단...,전북,가을 전주 당일치기 진공 투어 가을 단풍
2,65ee6a64c528b55b0ae79e58,4,0,"대전 유성구 관평동 맛집, 감동적인 맛과 가격 '매봉 쌀국수와 소바'",대전,맛집 감동 쌀국수
3,65ee60fc901db79521bc991b,3,0,역사를 따라가는 DMZ 로드,경기,역사 로드
4,65ee664fc528b55b0ae78d7a,5,0,"아브라다카브라라는 주문을 외워보고 싶은, '대전 보라매공원크리스마스 풍경'",대전,주문 보라매 공원 풍경

In [29]:
df_NLP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                10000 non-null  object
 1   concept            10000 non-null  int64
 2   season             10000 non-null  object
 3   review_text        10000 non-null  object
 4   지역                 10000 non-null  object
 5   review_text_clean  9775 non-null   object
dtypes: int64(1), object(5)
memory usage: 468.9+ KB

In [32]:
df_NLP['지역'].unique()

array(['울산', '전북', '대전', '경기', '전남', '제주', '대구', '강원', '광주', '경남', '서울',
       '부산', '경북', '인천', '충남', '충북', '세종'], dtype=object)